.contacts {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.address-title {
  margin: 33px 0 25px 186px;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.icon-img {
  width: 30px;
}

.map-img {
  width: 100%;
  min-width: 320px;
  max-width: 1120px;
  margin-left: 100px;
  padding-bottom: 15px;
}

.address {
  margin-left: 186px;
}

.address-text-title {
  font-size: 25px;
  padding-bottom: 15px;
}

.address-text {
  font-size: 18px;
  padding-bottom: 10px;
}

@media (max-width: 1300px) {
  .address-title, .address {
    margin-left: 20px;
  }

  .map-img {
    margin-left: 10px;
  }
}