.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  background-color: #213b7e;
}

.logo {
  margin: 0 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
}

.menu-link {
  display: flex;
  align-items: center;
  height: 80px;
  color: #fff;
  text-decoration-line:underline;
  padding: 0 15px;
}

.menu-link:hover {
  display: flex;
  align-items: center;
  background-color: #ffffffe7;
  color: #213b7e;
  text-decoration-line: none;  
}

.menu-link-active {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
  color: #213b7e;
  text-decoration-line: none;
  padding: 0 15px;  
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 153px;
  min-height: 50px;
  margin: 0 15px;
  border: 0;
  background-color: #ea5d21;
  color: #fff;
  font-size: 14px;
  cursor:pointer;
}

/* Media */

@media (max-width: 650px) {
  .login-button {
    min-width: 80px;
  }
}