.students {
  display: flex;
  height: calc(100vh - 140px);
  overflow-y: auto; 
  flex-wrap: wrap;
  width: 100%;
  padding-left: 119px;
}

.course-title {
  display: flex;
  height: 32px;
  font-weight: 700;
  font-size: 30px;
  margin: 37px 0 24px 0;
}

.icon-img {
  height: 30px;
  margin: 0;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  font-size: 16px;
  padding-bottom: 40px;
}

.photos::first-letter {
  font-size: 22px;
}

.student-1 {
  position: relative;
  cursor: pointer;
}

.student-1:hover {
  transform: scale(1.1);
  transition: 50ms;
}

.caption-1 {
  position: absolute;
  left: 74px;
}

.student-2 {
  position: relative;
  /* cursor: pointer; */
}

.student-2:hover {
  transform: scale(1.1);
  transition: 50ms;
}

.new-student-logo {
  position: absolute;
  right: -18px;
  top: -12px;
  width: 94px;
  height: 24px;
  background-color: #3AA828;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
}

.caption-2 {
  position: absolute;
  left: 66px;
}

.student-3 {
  position: relative;
}

.caption-3 {
  position: absolute;
  left: 70px;
}

.student-4 {
  position: relative;
}

.caption-4 {
  position: absolute;
  left: 74px;
}

.student-5 {
  position: relative;
}

.caption-5 {
  position: absolute;
  left: 74px;
}

@media (max-width: 1300px) {
  .students {
    padding-left: 20px;
  }
}